#panda {
    background-image: url("https://png.pngtree.com/element_origin_min_pic/17/07/23/f216b61acf24cc80935ecb8883896f94.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

h2 {
    text-align: center;
    font-weight: bold;
}

form {
    position: center;
}