#body{
    margin: 12px;
    color: white;
    text-align: center;
}

#bloc1
{
    float: left;
    width: 50%;
    height: 50%;
    background-image: url("https://cdn.pixabay.com/photo/2016/08/11/22/12/door-1587023_960_720.jpg");
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bloc2
{
    float: right;
    width: 50%;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2016/08/11/22/12/door-1587023_960_720.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bloc3
{
    float: left;
    width: 50%;
    height: 50%;
    background-color: skyblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bloc1:hover{
    background-image: url("https://cdn.pixabay.com/photo/2016/08/13/00/11/door-1590024_960_720.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


#bloc2:hover{
    background-image: url("https://cdn.pixabay.com/photo/2016/08/13/00/11/door-1590024_960_720.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bloc3:hover{
    background-color: cornflowerblue;

}

@font-face {
    font-family: myFirstFont;

}

* {
    font-family: myFirstFont;
}