
#connexion {
    background-color: sienna;
    width: 30%;
    height: 30%;
    text-align: center;
    margin-top: 20%;
    margin-left: 60%;
    padding-top: 1%;
    color: aliceblue;
    font-style: italic;
    border-radius: 15px 50px;


}

body {
    background-image: url("http://s1.1zoom.me/big0/871/336768-svetik.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: peru;
    border: none;

     border-radius: 15px 50px;
}

#button:hover {background-color: saddlebrown}

#button:active {
    background-color: peru;
    transform: translateY(4px);
}

@font-face {
    font-family: myFirstFont;

}

* {
    font-family: myFirstFont;
}