#container{
    display: flex;

    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

    flex-direction: row;



}
#sujetbloc{
    background-color: brown;
}

#verbebloc{
    background-color: peru;

}

#codbloc{
    background-color: darkgrey;

}