body {
    background-image: url("http://ludinet.fr/medias/uploads/2013/05/bart-bonnet-ane-595x793.gif");
    background-repeat: no-repeat;
    background-position: center;
}
#text {
    text-align: center;
    margin-top: 12%;
    margin-left: 30%;
    color: brown;

}