
#connexion {
    background-color:peru;
    width: 30%;
    height: 30%;
    text-align: center;
    margin-top: 31%;
    margin-left:12% ;
    padding-top:2%;

}
body{
    background-image: url("https://pre00.deviantart.net/1c89/th/pre/f/2014/335/f/6/the_hidden_door_by_rogierb-d88b9ps.jpg");
       background-repeat: no-repeat;
    background-position: center;
}